{% extends "layout.html" %}
{% block content %}
<style>
    .dev {
        font-size: 150%;
    }
</style>
<div class="jumbotron my-4 container">
    <legend style="text-align: center; font-size: 400%;">
        Developers
    </legend>
    <ul>
        <li class="dev">
            Aditya Patkar
        </li>
        <li class="dev">
            Parth Shah
        </li>
        <li class="dev">
            Riya Gupta
        </li>
        <li class="dev">
            Priyesh Vakharia
        </li>
        <li class="dev">
            Saurav Kanegaonkar
        </li>
        <li class="dev">
            Saiprasad Duduka
        </li>
    </ul>
</div>
{% endblock content %}